@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4414414414vw;
  }
}
@media (min-width: 1110px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
li,
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-company {
  margin-top: 18px;
  margin-top: 1.125rem;
}
@media screen and (min-width: 768px) {
  .l-company {
    margin-top: 2.5rem;
  }
}

.l-contact {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-contact {
    margin-top: 6.875rem;
  }
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1160px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-news {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-news {
    margin-top: 4.375rem;
  }
}

.l-recruit {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-recruit {
    margin-top: 4.375rem;
  }
}

.l-service {
  margin-top: 80px;
  margin-top: 5rem;
}
@media screen and (min-width: 768px) {
  .l-service {
    margin-top: 8.75rem;
  }
}

.l-works {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .l-works {
    margin-top: 8.75rem;
  }
}

.c-btn {
  display: inline-block;
  width: 200px;
  width: 12.5rem;
  padding: 20px 0;
  padding: 1.25rem 0;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.05em;
  background: transparent -webkit-gradient(linear, left top, right top, from(#7633a4), to(#250d65)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #7633a4 0%, #250d65 100%) 0% 0% no-repeat padding-box;
}

.c-hamburger {
  position: relative;
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  z-index: 9999;
}

.c-hamburger span {
  position: absolute;
  width: inherit;
  height: 2px;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-hamburger span:nth-child(1) {
  top: 30%;
}

.c-hamburger span:nth-child(2) {
  top: 50%;
}

.c-hamburger span:nth-child(3) {
  top: 70%;
}

.c-hamburger.is-active span:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.c-hamburger.is-active span:nth-child(2) {
  top: 50%;
  opacity: 0;
}

.c-hamburger.is-active span:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.c-mv-btn {
  display: inline-block;
  padding: 19px 68.5px;
  padding: 1.1875rem 4.28125rem;
  border: 1px solid;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
  color: none;
  text-align: none;
  line-height: 1;
  letter-spacing: 0.05em;
}

.c-section-header {
  color: #391E88;
  text-align: center;
}

.c-section-header__jatitle {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .c-section-header__jatitle {
    font-size: 0.875rem;
  }
}

.c-section-header__entitle {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.2333333333;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .c-section-header__entitle {
    font-size: 2.25rem;
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  text-align: right;
  bottom: -25px;
  bottom: -1.5625rem;
}

.swiper-pagination-bullet-active {
  background-color: #391E88;
}

@media screen and (min-width: 768px) {
  .p-card {
    max-width: calc(33.3333% - 1.25rem);
    width: 100%;
  }
}

.p-card + .p-card {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-card + .p-card {
    margin-top: 0;
    margin-left: 1.875rem;
  }
}

@media screen and (min-width: 768px) {
  .p-card:nth-child(3n+1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-card:nth-child(n+4) {
    margin-top: 2.5rem;
  }
}

.p-card__img {
  position: relative;
}

.p-card__img::before {
  content: "";
  display: block;
  padding-top: 62.6865%;
}

.p-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-card__body {
  margin-top: 14px;
  margin-top: 0.875rem;
}

.p-card__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  color: none;
  text-align: center;
  line-height: 1.22;
  letter-spacing: 0.05em;
}

.p-card__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  color: none;
  text-align: none;
  line-height: 1.785;
  letter-spacing: 0.05em;
  margin-top: 10px;
  margin-top: 0.625rem;
}

.p-company {
  padding-top: 42px;
  padding-top: 2.625rem;
  padding-bottom: 72px;
  padding-bottom: 4.5rem;
  background-image: url(../images/common/company_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.p-company__contents {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-company__subtitle {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.p-company__underline {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(80%, #F5F534));
  background: linear-gradient(transparent 80%, #F5F534 80%);
}

.p-company__content {
  margin-top: 43px;
  margin-top: 2.6875rem;
}

.p-company__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  color: #333;
  text-align: center;
  line-height: 1.785;
  letter-spacing: 0.05em;
}

.p-company__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-contact {
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
  background-color: #F7F7F7;
}

.p-contact__contents {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-contact__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  color: #333;
  text-align: center;
  line-height: 1.785;
  letter-spacing: 0.05em;
}

.p-contact__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-footer-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  gap: 1.25rem;
}

.p-footer-nav__items a {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  text-align: none;
  line-height: 1.25;
  letter-spacing: 0.06em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.p-footer {
  background-color: #120E19;
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
}

.p-footer__inner {
  padding: 0 30px;
  padding: 0 1.875rem;
  margin: auto;
}

.p-footer__copyright {
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-header {
  height: 62px;
  height: 3.875rem;
  background-color: transparent;
  z-index: 9999;
  position: fixed;
  width: 100%;
}

.p-header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  padding: 0 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-header__inner {
    padding: 0 0.625rem;
  }
}

.p-header__logo {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  text-align: none;
  line-height: 1.22;
  letter-spacing: 0.018em;
}

@media screen and (min-width: 768px) {
  .p-header__drawer {
    display: none;
  }
}

.p-header__pc-nav {
  height: inherit;
  display: none;
}
@media screen and (min-width: 768px) {
  .p-header__pc-nav {
    display: block;
  }
}

.p-mv {
  position: relative;
  height: 100vh;
  background-image: url(../images/common/mv_sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.p-mv__header {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
  left: 3.125rem;
  color: #fff;
}

.p-mv__title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  color: none;
  text-align: none;
  line-height: 1.1;
  letter-spacing: 0.05em;
}

.p-mv__subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: none;
  text-align: none;
  line-height: 1.8125;
  letter-spacing: 0.1em;
  margin-top: 20px;
  margin-top: 1.25rem;
}

.p-mv__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-mv__scroll {
  font-family: "Noto Sans JP", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  text-align: none;
  line-height: 1;
  letter-spacing: 0.2em;
  position: absolute;
  right: 5px;
  bottom: 84px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.p-mv__scroll span {
  position: relative;
}

.p-mv__scroll span::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 50px;
  background-color: #fff;
  right: -35px;
  bottom: -16px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .p-news-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-news__items {
  margin-top: 32px;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .p-news__items {
    margin-top: 0;
    margin-left: 3.125rem;
  }
}

.p-news__item + .p-news__item {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.p-news-content__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
}

.p-news-content__date {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 300;
  color: #333;
  text-align: none;
  line-height: 1;
  letter-spacing: 0.1em;
}

.p-news-content__category {
  padding: 4px 18px;
  padding: 0.25rem 1.125rem;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 700;
  color: #333;
  text-align: none;
  line-height: 1;
  letter-spacing: 0.05em;
  background-color: #e8e8e8;
  border-radius: 50px;
  margin-left: 15px;
  margin-left: 0.9375rem;
  min-width: 82px;
  min-width: 5.125rem;
  text-align: center;
}
.p-news-content__link {
  margin-top: 10px;
  margin-top: 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-news-content__link {
    margin-top: 0;
  }
}

.p-news-content__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  color: #333;
  text-align: none;
  line-height: 1.9285;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) {
  .p-news-content__text {
    margin-left: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .p-news__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .p-news__inner.l-inner {
    max-width: 57.3125rem;
    width: 100%;
  }
}

.p-recruit__inner.l-inner {
  padding: 0;
}

.p-recruit__img {
  position: relative;
}

.p-recruit__img::before {
  content: "";
  display: block;
  padding-top: 37.3333%;
}

.p-recruit__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-recruit__contents {
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 56px;
  padding-bottom: 3.5rem;
  background-color: #F7F7F7;
}

.p-recruit__content {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-recruit__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  color: #333;
  text-align: center;
  line-height: 1.785;
  letter-spacing: 0.05em;
}

.p-recruit__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.p-service__items {
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-service__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.p-service__btn {
  text-align: center;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-works__contents {
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 56px;
  padding-bottom: 3.5rem;
}
.p-works__images {
  position: relative;
}

.p-works__img {
  position: relative;
}

.p-works__img::before {
  content: "";
  display: block;
  padding-top: 68.955%;
}
@media screen and (min-width: 768px) {
  .p-works__img::before {
    padding-top: 68%;
  }
}

.p-works__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-works__content {
  margin-top: -116px;
  margin-top: -7.25rem;
  background-color: #F7F7F7;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-top: 156px;
  padding-top: 9.75rem;
  padding-bottom: 60px;
  padding-bottom: 3.75rem;
}

.p-works__text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  color: #333;
  text-align: center;
  line-height: 1.785;
  letter-spacing: 0.05em;
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-works__btn {
  margin-top: 30px;
  margin-top: 1.875rem;
  text-align: center;
}

.pc-nav__items {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pc-nav__item,
.pc-nav__item a {
  height: inherit;
}

.pc-nav__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
  color: #fff;
  text-align: none;
  line-height: 1;
  letter-spacing: 0.06em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding-left: 13px;
  padding-left: 0.8125rem;
  padding-right: 12px;
  padding-right: 0.75rem;
}

.pc-nav__item:first-child a {
  padding-left: 0;
}

.pc-nav__item:last-child a {
  padding-right: 0;
}

.sp-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #391E88;
}

.sp-nav.is-active {
  display: block;
}

.sp-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  padding: 100px 0;
  padding: 6.25rem 0;
}

.sp-nav__item {
  width: 100%;
}

.sp-nav__item a {
  display: block;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 10px 0;
  padding: 0.625rem 0;
}
/*# sourceMappingURL=styles.css.map */
