@use "global" as *;

.p-card__img {
  position: relative;
}

.p-card__img::before {
  content: "";
  display: block;
  padding-top: 62.6865%; // 210/335
}

.p-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-card__body {
  margin-top: rem(14);
}

.p-card__title {
  font-family: $en-font-family;
  @include txt(rem(18), $bold, none, center);
  @include txt-option(1.22, 0.05em);
}

.p-card__text {
  @include txt(rem(14), $regular, none, none);
  @include txt-option(1.785, 0.05em);
  margin-top: rem(10);
}