@use "global" as *;

.p-header {
  height: rem(62);
  background-color: transparent;
  // background-color: $purple;
  z-index: 9999;
  position: fixed;
  width: 100%;
}

.p-header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(15);
  @include mq(md) {
    padding: 0 rem(10);
  }
}

.p-header__logo {
  font-family: $en-font-family;
  @include txt(rem(18), $bold, $white, none);
  @include txt-option(1.22, 0.018em);
}

.p-header__drawer {
  @include mq(md) {
    display: none;
  }
}

.p-header__pc-nav {
  height: inherit;
  display: none;
  @include mq(md) {
    display: block;
  }
}