@use "global" as *;

.p-news__inner {
  @include mq(md) {
    display: flex;
  }
}

.p-news__inner {
  @include mq(md) {
    max-width: rem(917);
    width: 100%;
    margin: 0 auto;
    box-sizing: content-box;
  }
}